{% extends 'layout.html' %}
{% load rbac %}

{% block content %}      
<div class="luffy-container">
    <div class="col-md-12 column">    

        <div class="btn-group form-inline">
            {% if request|has_permission:"delivery_add" %}
                <a class="btn btn-default" href="/web/delivery/add/">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> 添加
                </a>
            {% endif %}

            {% if request|has_permission:"delivery_import" %}
                <a class="btn btn-default" href="/web/delivery/import/">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> 批量导入
                </a>
            {% endif %}
        </div> 
        <div class="btn-group form-inline">
            <form method="post" action="/web/makexlsx/page/{{page}}" class="form-inline" role="form">
                {% csrf_token %}

                {% for k,v in cleanData.items %}
                    <input type="text" class="form-control" value="{{ v }}" name="{{ k }}" style="display:none"/>
                {% endfor %}
                <input type="text" class="form-control" value="{{ page }}" name="page" style="display:none"/>
                <button class="btn btn-info" type="submit" > 单页保存Excel </button>

            </form>
        </div>

        <div class="btn-group form-inline">
            <form method="post" action="/web/makexlsx/all/{{page}}" class="form-inline" role="form">
                {% csrf_token %}

                {% for k,v in cleanData.items %}
                    <input type="text" class="form-control" value="{{ v }}" name="{{ k }}" style="display:none"/>
                {% endfor %}
                <input type="text" class="form-control" value="{{ page }}" name="page" style="display:none"/>
                <button class="btn btn-success" type="submit" > 全部保存Excel </button>
                
            </form>
        </div>
        <br><br>
        
        <div class="btn-group form-inline">
            <form method="post" class="form-inline" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="f1">&nbsp;&nbsp;送货单位</label>
                    <select name="name" class="form-control" placeholder="供货商名称" style="width:145px;">
                        {% for i in name_list %}
                            <option value="{{ i }}" >{{ i }}</option>
                        {% endfor %}
                    </select> 
                </div>
                <div class="form-group">
                    <input type="text" name="name_in" class="form-control" placeholder="送货单位" style="width:145px;"/>
                </div>

                <div class="form-group">
                    <label for="f1">&nbsp;&nbsp;客户名称</label>
                    <select name="customer" class="form-control" placeholder="客户名称" style="width:145px;">
                        {% for i in customer_list %}
                            <option value="{{ i }}" >{{ i }}</option>
                        {% endfor %}
                    </select> 
                </div>
                <div class="form-group">
                    <input type="text" name="customer_in" class="form-control" placeholder="客户名称" style="width:145px;"/>
                </div>  

                <label for="f2">&nbsp;&nbsp;时间</label>
                <div class="form-group">
                    <input type="date" name="date_start" class="form-control" style="width:135px;"/>
                </div>
                
                <div class="form-group">
                    <input type="date" name="date_end" class="form-control" style="width:135px;"/>
                </div>
     
                <button type="submit" class="btn btn-danger">查 询</button> 
            </form>
             
        </div> 
        <br><br>
          
    </div>    
    {% include 'web/djangopage.html' %}  <!--分页-->
    
    {% if name %}    
       送货单位:{{name}}:
    {% endif %}
    {% if customer %}   
        客户名称:{{customer}}
    {% endif %}
    【金额总和({{moneys}}) 】&nbsp;&nbsp;
    【开始时间：{{cleanData.date_start}} &nbsp;&nbsp;结束时间：{{cleanData.date_end}}】

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>采购日期</th>
                <th>送货单位</th>
                <th>送货单号码</th>
                <th>客户名称</th>
                <th>送货产品名称</th>
                <th>数量</th>
                <th>单价</th>
                <th>金额</th>
                <th>经办人</th>
                <th>备注</th>

                {% if request|has_permission:"delivery_del" or request|has_permission:"delivery_edit" %}
                    <th>选项</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for d in data_list %}
                <tr>
                    <td>{{ forloop.counter | add:offset }}</td>
                    <td>{{ d.date| date:"Y-m-d H:i:s"  }}</td>
                    <td>{{ d.name }}</td>
                    <td>{{ d.num }}</td>
                    <td>{{ d.customer }}</td>
                    <td>{{ d.product }}</td>
                    <td>{{ d.number }}</td>
                    <td>{{ d.price }}</td>                    
                    <td>{{ d.money }}</td>
                    <td>{{ d.operator }}</td>
                    <td>{{ d.note }}</td>

                    {% if request|has_permission:"deliverye_del" or request|has_permission:"delivery_edit" %}
                        <td>
                            {% if request|has_permission:"delivery_edit" %}
                                <a style="color: #333333;" href="/web/delivery/edit/{{d.id }}/">
                                    <i class="fa fa-edit" aria-hidden="true"></i></a>
                            {% endif %}&nbsp;
                            {% if request|has_permission:"delivery_del" %}
                                <a style="color: #d9534f;" href="/web/delivery/del/{{d.id }}/"  onclick="return confirm('采购日期: {{d.date}}; \n产品名称: {{d.product}}。\n删除不可恢复,确定要删除此文件吗?')">
                                <i class="fa fa-trash-o"></i></a>
                            {% endif %}
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    
    {% include 'web/djangopage.html' %}  <!--分页-->
    </div>
{% endblock %}