{% extends 'layout.html' %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts-en.js"></script>
<div style="padding-left:130px;"><h3>{{title}}</h3> </div>     
<div style="padding-left:6px;"><h5>{{x_y_meg|safe}}</h5></div>

<div id="main" style="width: 1160px;height:400px;"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById("main"));       
    myChart.setOption({
             //下载图片
            toolbox: {
    　　　　     show: true,
    　　        feature: {
    　　　　        saveAsImage: {
    　　　　          show:true,
    　　　　           excludeComponents :['toolbox'],
    　　　　           pixelRatio: 2
    　　　　        }
    　　        }
            },

        	color: ['#3398DB'],
    		tooltip : {
        	   trigger: 'axis',
        	   axisPointer : {     // 坐标轴指示器，坐标轴触发有效
            	   type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
        	   }
    	    },
    	    grid: {
        	   left: '3%',
        	   right: '4%',
        	   bottom: '3%',
        	   containLabel: true
    	    },
    	    xAxis : [
        	   {
            	   type : 'category',
            	   data : {{dataX|safe}},
            	   axisTick: {
                	   alignWithLabel: true
            	   }
        	    }
    	    ],
    	    yAxis : [
        	   {
            	   type : 'value'
        	    }
    	    ],
            series : [
        	   {
            	   name: '平均得分',
            	   type: 'bar',
            	   barWidth: '60%',
            	   data: {{data|safe}}
        	    }
            ]})
        
</script>

    <hr>
    <div style="padding-left:6px;"><h5>二、表格显示</h5></div>    
    <table class="table table-bordered">
        <thead>
            <tr>   <!-- bootstrap 12等份 -->
                <th class="col-md-1">X轴</th>
                <th class="col-md-5">标题</th>
                <th class="col-md-1">人数</th>      
                <th class="col-md-1">A</th>
                <th class="col-md-1">B</th>
                <th class="col-md-1">C</th>
                <th class="col-md-1">D</th>
                <th class="col-md-1">E</th>                                      
            </tr>
        </thead>
        <tbody>
            {% for bs in bankemployes %}
    	       <tr>
                    <td>{{forloop.counter0 }} 
                    {% for b in bs %}                                                       
                        (id:{{b.id}})</td>
                        <td>{{b.investigation}} </td>
                        <td>{{user_num}} </td>
                        <td>{{b.a}} ({{b.a_per}}%) </td>
                        <td>{{b.b}} ({{b.b_per}}%) </td>                     
                        <td>{{b.c}} ({{b.c_per}}%) </td>
                        <td>{{b.d}} ({{b.d_per}}%) </td>
                        <td>{{b.e}} ({{b.e_per}}%) </td>
                       
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    <div style="padding-left:6px;"><h5>三、五分制评判对应关系</h5></div>
    {% include 'bank/abcde.html' %}

     

  
{% endblock %}