{% extends 'layout.html' %}
{% load rbac %}

{% block content %}      
<div class="luffy-container">
    <div class="col-md-12 column">
        <div class="btn-group form-inline">
            {% if request|has_permission:"warehousing_add" %}
                <a class="btn btn-default" href="/web/warehousing/add/">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> 添加
                </a>
            {% endif %}

            {% if request|has_permission:"warehousing_import" %}
                <a class="btn btn-default" href="/web/warehousing/import/">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> 批量导入
                </a>
            {% endif %}
        </div>
        <div class="btn-group form-inline">
            <form method="post" action="/web/warehousing/makexlsx/page/{{page}}" class="form-inline" role="form">
                {% csrf_token %}

                {% for k,v in cleanData.items %}
                    <input type="text" class="form-control" value="{{ v }}" name="{{ k }}" style="display:none"/>
                {% endfor %}
                <input type="text" class="form-control" value="{{ page }}" name="page" style="display:none"/>
                <button class="btn btn-info" type="submit" > 单页保存Excel </button>

            </form>
        </div>

        <div class="btn-group form-inline">
            <form method="post" action="/web/warehousing/makexlsx/all/{{page}}" class="form-inline" role="form">
                {% csrf_token %}

                {% for k,v in cleanData.items %}
                    <input type="text" class="form-control" value="{{ v }}" name="{{ k }}" style="display:none"/>
                {% endfor %}
                <input type="text" class="form-control" value="{{ page }}" name="page" style="display:none"/>
                <button class="btn btn-success" type="submit" > 全部保存Excel </button>
                
            </form>
        </div><br><br>

        {% include 'web/form_name_date_post.html' %} <br><br>
            
    </div> <br><br>

    {% include 'web/djangopage.html' %}  <!--分页-->
    {% if name %}    
       {{name}}:
    {% endif %}

    【 金额总和({{moneys}}) 】&nbsp;&nbsp;
    【开始时间：{{cleanData.date_start}} &nbsp;&nbsp;结束时间：{{cleanData.date_end}}】
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>日期</th>
                <th>名称</th>
                <th>入库单号码</th>
                <th>产品名称</th>
                <th>数量</th>

                <th>单价</th>               
                <th>金额</th>
                
                <th>备注</th>

                {% if request|has_permission:"warehousing_del" or request|has_permission:"warehousing_edit" %}
                    <th>选项</th>
                {% endif %}
                <th>经办人</th
            </tr>
        </thead>
        <tbody>
            {% for d in data_list %}
                <tr>
                    <td>{{ forloop.counter | add:offset }}</td>
                    <td>{{ d.date }}</td>
                    <td>{{ d.name }}</td>
                    <td>{{ d.receipt }}</td>
                    <td>{{ d.product_name }}</td>
                    <td>{{ d.number }}</td>
                    <td>{{ d.univalence }}</td>
                    <td>{{ d.money }}</td>
                    
                    <td>{{ d.remarks }}</td>

                    {% if request|has_permission:"warehousing_del" or request|has_permission:"warehousing_edit" %}
                        <td>
                            {% if request|has_permission:"warehousing_edit" %}
                                <a style="color: #333333;" href="/web/warehousing/edit/{{d.id}}/"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            {% endif %}&nbsp;
                            {% if request|has_permission:"warehousing_del" %}
                                <a style="color: #d9534f;" href="/web/warehousing/del/{{d.id }}/"  onclick="return confirm('采购日期: {{d.date}}; \n名称: {{d.name}}。\n删除不可恢复,确定要删除此文件吗?')">
                                <i class="fa fa-trash-o"></i></a>
                            {% endif %}
                        </td>
                    {% endif %}

                    <td>{{ d.operator }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% include 'web/djangopage.html' %}  <!--分页-->
{% endblock %}